@model DataModels.Models.ServiceCode

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <h1>
        Serivce Code
        <small>Edit Service </small>
    </h1>
}

@section actions {
    <a class="btn btn-default" href="@Url.Action("Index", "Services")"><i class="fa fa-list"></i>&nbsp;Services</a>
}


<div ng-app="" ng-controller="serviceCodeController" class="box box-primary">
    <div class="box-header">
        @*<h3 class="box-title">Enter project details</h3>*@
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="box-body">
            <div class="row center-block">
                <div class="col-md-6 box-content">
                    @Html.HiddenFor(model => model.ServiceCodeID)
                    @Html.HiddenFor(model => model.Type)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Code)
                        <small class="text-muted"> If an incoming text starts with </small>
                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @placeholder = "CODE", @required = "" })
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Service)
                        @Html.TextBoxFor(model => model.Service, new { @class = "form-control", @placeholder = "Service", @required = "" })
                        @Html.ValidationMessageFor(model => model.Service)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Response, "Response")
                        <div class="form-group">
                            <textarea class="form-control" name="Response" maxlength="160" ng-trim="false" ng-model="msg" required="" style="height: 120px; font-size: 15px">@Model.Response</textarea>
                            <div class="box-footer">
                                <h4 class="label label-danger">{{160-msg.length}}</h4>
                            </div>
                        </div>


                        @Html.ValidationMessageFor(model => model.Response)
                    </div>
                </div>
                <div class="col-md-6 box-content">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Active)
                        @Html.EditorFor(model => model.Active, new { @class = "form-control" })
                        <div class="alert alert-info"><span class="text-muted"> If disabled, the system will not do anything even if it recieves text messges starting with the specific code</span></div>
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AutoReply)
                        @Html.EditorFor(model => model.AutoReply, new { @class = "form-control" })
                        <div class="alert alert-info"><span class="text-muted"> If autoreply is enabled, the system will automatically send a pre designed auto-response to the requesting subscriber</span></div>
                        @Html.ValidationMessageFor(model => model.AutoReply)
                    </div>
                </div>
                
                <div class="col-md-12 box-content">
                    <div class="pull-right" style="margin: 5px">
                        <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-save"></i>&nbsp;Save</button>
                    </div>
                  
                </div>

            </div>
        </div>
    }
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

    }*@

<script>
    function serviceCodeController($scope, $http) {
        
        $scope.msg = '@Model.Response';
        var options = {
            size: 'small'
        }
        $("#Active").bootstrapSwitch(options);
        $("#AutoReply").bootstrapSwitch(options);
    }
</script>